*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }

body, html, #root {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.container {
  padding-top: 20px; 
}

.nav-link {
  color: grey !important; /* Use !important to override Bootstrap styles */
}

.nav-link:hover {
  color: red !important; /* Use !important to override Bootstrap styles */
}

